.notfoundpage {
    width: 100%;
    height: 100%;
}

.notfoundpage-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;

    font-size: 32px;
    font-weight: bold;
}

.notfoundpage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.notfoundpage-content div {
    margin: 20px;
    font-size: 18px;
}

.notfoundpage-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
}
